<h1 id="aquamis-contamination-study">AQUAMIS Contamination Study</h1>
<p>Supplementary Data Analysis for the AQUAMIS publication introducing <a href="https://gitlab.com/bfr_bioinformatics/AQUAMIS">AQUAMIS</a>.</p>
<h3 id="aquamis-reports">AQUAMIS Reports</h3>
<p>The following <strong>AQUAMIS Reports</strong> summarize the analysis of the <a href="https://doi.org/10.6084/m9.figshare.c.4282706.v1">FDA Contamination Dataset</a> by Arthur Pightling <em>et al</em>.</p>
<ul>
<li><a href="https://bfr_bioinformatics.gitlab.io/AQUAMIS_contamination_study/FDA_dataset_Campylobacter/assembly_report.html"><em>Escherichia coli</em></a><br /></li>
<li><a href="https://bfr_bioinformatics.gitlab.io/AQUAMIS_contamination_study/FDA_dataset_Salmonella/assembly_report.html"><em>Salmonella enterica</em></a><br /></li>
<li><a href="https://bfr_bioinformatics.gitlab.io/AQUAMIS_contamination_study/FDA_dataset_Listeria/assembly_report.html"><em>Listeria monocytogenes</em></a></li>
</ul>
<p>as well as for a <a href="https://zenodo.org/record/4601406">new dataset</a> developed for the AQUAMIS study:</p>
<ul>
<li><a href="https://bfr_bioinformatics.gitlab.io/AQUAMIS_contamination_study/FDA_dataset_Listeria/assembly_report.html"><em>Campylobacter</em> spp.</a></li>
</ul>
<h3 id="authors">Authors</h3>
<ul>
<li>Carlus Deneke<br /></li>
<li>Holger Brendebach<br /></li>
<li>Simon H. Tausch</li>
</ul>
<h3 id="references">References</h3>
<ol>
<li>AQUAMIS: <a href="https://gitlab.com/bfr_bioinformatics/AQUAMIS">https://gitlab.com/bfr_bioinformatics/AQUAMIS</a><br /></li>
<li>Pightling, A.B.P., James; Wang, Yu; Rand, Hugh; Strain, Errol. Contamination Dataset 191125. figshare, 2019.</li>
</ol>
